<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="150"
  src="http://www.free-icons-download.net/images/red-chat-bubble-icon-64860.png">
  <h1>Bienvenue sur le chat</h1>
  <div id="chat">
    <div class="displayMessage">
      <div class="row">
        <div class="message messageUser">
          <span class="date">13/08/17 12:00</span>
          <br/>
          <span class="name">Mathieu</span>
          <br/>
          <span class="content"> Salut !</span>
        </div>
        <br/>
      </div>
      <br/>
      <div class="row">
        <div class="message">
          <span class="date">13/08/17 12:10</span>
          <br/>
          <span class="name">Florian</span><span class="content"> Salut !</span>
          <br/>
        </div>
      </div>
    </div>
    <div class="sendMessage">
      <input id="contentMessage" type="text"/>
      <button>Envoyer</button>
    </div>
  </div>
</div>
