<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="150"
  src="http://www.free-icons-download.net/images/red-chat-bubble-icon-64860.png">
  <h1>Bienvenue sur le chat</h1>
  <div id="chat">
    <div class="displayMessage" *ngFor="let message of messages">
      <div class="row">
        <div class="message {{message.name == username ? 'messageUser' : ''}}">
          <span class="date">{{message.timestamp | date : 'dd/MM/yyyy HH:mm'}}</span>
          <br/>
          <span class="name">{{message.name}}</span>
          <span class="content">{{message.content}}</span>
        </div>
      </div>
      <br/>
    </div>
    <div class="sendMessage">
      <input id="contentMessage" type="text"/>
      <button (click)="saveMessage()">Envoyer</button>
    </div>
  </div>
</div>
